# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:

city_df = pd.read_csv('city_data.csv')
city_df.head()

,Unnamed: 0,City Name,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Saint-Joseph,-21.37,55.62,69.40,60,15,8.05,RE,1603068168
1,1,Kavaratti,10.57,72.64,80.80,79,20,10.13,IN,1603068168
2,2,Carnarvon,-24.87,113.63,71.60,78,90,12.75,AU,1603068058
3,3,Birao,10.28,22.79,71.40,56,4,3.51,CF,1603068169
4,4,Bentiu,9.23,29.83,70.74,93,28,3.40,SS,1603068169

In [3]:
del city_df['Unnamed: 0']
city_df.head()

,City Name,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
0,Saint-Joseph,-21.37,55.62,69.40,60,15,8.05,RE,1603068168
1,Kavaratti,10.57,72.64,80.80,79,20,10.13,IN,1603068168
2,Carnarvon,-24.87,113.63,71.60,78,90,12.75,AU,1603068058
3,Birao,10.28,22.79,71.40,56,4,3.51,CF,1603068169
4,Bentiu,9.23,29.83,70.74,93,28,3.40,SS,1603068169

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
gmaps.configure(g_key)
locations = city_df[["Latitude", "Longitude"]]
humidity = city_df["Humidity"]

In [5]:
fig=gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations,humidity,max_intensity=30,point_radius=5)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.
#Values used are Temperature between 70 -80 degrees, wind speed <15 and cloudiness 0

In [30]:
index_names = city_df[(city_df['Temperature']<80) & (city_df['Temperature']>70) & (city_df['Wind Speed']<15) & (city_df['Cloudiness']==0)].index
city_df.drop(index_names, inplace = True)
city_df.head()

,City Name,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
0,Saint-Joseph,-21.37,55.62,69.40,60,15,8.05,RE,1603068168
1,Kavaratti,10.57,72.64,80.80,79,20,10.13,IN,1603068168
2,Carnarvon,-24.87,113.63,71.60,78,90,12.75,AU,1603068058
3,Birao,10.28,22.79,71.40,56,4,3.51,CF,1603068169
4,Bentiu,9.23,29.83,70.74,93,28,3.40,SS,1603068169

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [20]:
#create hotel_df dataframe 
hotel_df = city_df['Hotel Name'] = ''

#geocoordinates
target_coordinates = [Latitude, Longtitude]
target_search = 'hotel'
target_radius = '5000'


params = {"location": target_coordinates}

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure